* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --bgc-body: #000000;
    --color-body: #ffffff;
    --destaque: #fb5607;
    --destaque-bgc: #fb5407;
    --icone-color: #fb5607;
    --subtitle-color: #fb5607;
    --button-bgc: #fb5607;
    --button-border: #fb5607;
    --button-color: #ffffff;
    --gradient: linear-gradient(45deg, #fb5607 34%, #fd8249 94%);
    --icone-gradient: linear-gradient(45deg, #fb5607 34%, #f3e249 94%);
    --icone-investimento-gradient: linear-gradient(45deg, #70E000 34%, #008000 94%);
    --gradient-hover: linear-gradient(45deg, #fd8249  0%, #fb5607);
}

html {
    font-size: 62.5%; /* 10px */
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--bgc-body);
    color: var(--color-body);
}

/* Configurações Gerais */
.container {
    width: 95%;
    margin: 0 auto;
    /* border: 1px solid orangered; */
}

.espaco-interno {
    padding: 2rem 0;
}

.container-flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container-flex-coluna {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
}

.container-flex-lista {
    display: grid;
    place-content: center;
    gap: 3rem;    
    padding-block: 2rem;
}

section {
    padding: 2rem 0;
}

strong {
    color: var(--destaque);
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: var(--gradient);
    border: 1px solid var(--button-border);
    color: var(--button-color);
    padding: 2rem 0;  
    font-size: 1.2rem;      
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 0.5rem;
    letter-spacing: 0.1rem;
}

.button:hover {
    background-image: var(--gradient-hover);
}

.subtitle {
    font-size: 2.5rem;
    color: var(--subtitle-color);
    text-align: center;
    line-height: 150%;
}

p {
    font-size: 1.5rem;
    line-height: 200%;
    text-align: center;
}

.bgc-destaque {
    background-color: var(--destaque-bgc);
}

/* Cabeçalho */
header img {
    width: 12%;
}

.container-flex h2 {
    font-size: 1.5rem;
    text-transform: uppercase;
}

/* Seção 01 */
.bg-banner {
    background-image: url("../images/banner/mulher_animada.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}

.title {
    font-size: 3rem;
    text-align: center;
}

.arrow {
    font-size: 2.5rem;
    background-image: var(--icone-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
}

/* Lista - Conteúdo Programático */
.lista-principal {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 0 auto;
}

.item-principal {
    font-size: 1.5rem;
    font-weight: 700;
}

.item-principal i {
    font-size: 1.8rem;
    /* color: var(--icone-color); */
    background-image: var(--icone-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin-right: 0.5rem;
}

.lista-secundaria {
    margin-left: 2.7rem;
}

.item-secundario {
    font-size: 1.3rem;
    margin-bottom: 0.6rem;
}

.item-secundario:last-child {
    margin-bottom: 0;
}

.item-secundario i {
    font-size: 1.6rem;    
    /* color: var(--icone-color); */
    background-image: var(--icone-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin-right: 0.5rem;
}

/* Investimento */
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 2rem;
    border: 1px solid var(--button-border);
    border-radius: 0.5rem;
}

.card i {
    font-size: 3.5rem;
    background-image: var(--icone-investimento-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.card .valor-curso {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 150%;
}

.card .forma-de-pagamento {
    font-size: 1rem;
}

/* Datas Disponíveis */
.card-data {
    border: 1px solid var(--button-border);
    border-radius: 0.5rem;
    padding: 2rem;
    text-align: center;
}

.card-data .data {
    font-size: 4rem;
    font-weight: 700;
    line-height: 150%;
}

.card-data .data i {
    font-size: 1rem;
    background-image: var(--icone-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.card-data .horario {
    font-weight: 700;
}

.data-formulario {
    font-size: 1rem;
}

.card-data .online {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem; 
}

.card-data .online i {
    font-size: 1.8rem;    
}

.card-data .online p {
    color: var(--destaque);
    font-weight: 700;
}

/* Mentora */
.card-mentora {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border: 1px solid var(--button-border);
    border-radius: 0.5rem;
    padding: 2rem;
}

.card-mentora img {
    width: 70%;
}

.card-mentora h3 {
    font-size: 1.8rem;
}

.container-certificacoes {
    text-align: center;
    padding: 2rem 0;
}

.container-certificacoes div {
    margin-bottom: 2rem;
}

.container-certificacoes h3 {
    font-size: 1.6rem;
    color: var(--destaque);
    margin-bottom: 1.5rem;
}

.container-certificacoes div h4 {
    font-weight: 700;
    font-size: 1.3rem;
}

.container-certificacoes div p {
    font-size: 1rem;
}

/* Dúvidas */
.duvidas-obsercacao {
    font-size: 1.2rem;
}

/* Rodapé */
footer {
    padding: 2rem 0;
}

footer .container-flex-coluna {
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

footer .logo {
    width: 12%;
}

footer .redes-sociais {
    display: flex;
    gap: 4rem;
    padding-block: 2rem;
}

footer .redes-sociais a {
    color: var(--button-color);    
}

footer .redes-sociais a i {
    font-size: 2.5rem;
}

footer p {
    font-size: 1rem;
    line-height: 0;
}

footer p i {
    color: red;
}



